*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins, sans-serif;
}

.header{ 
    width: 100%;
    background-image: url('./assets/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 120vh;
    color: #000;
    box-shadow: 0 8px 12px  rgb(0, 0, 0, 0.25) inset;
    border: 1px solid blue;
}

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
}

img{
    width: 100%;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 20px;
}

li{
    list-style: none;
}

li>a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

.fa-chevron-down{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-left: 6px;
}

.cred{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 25px;
}

.signup, .login{
    width: 100px;
    padding-block: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.login{
    background-color: #CBFFD0;
}

.signup{
    background-color: #26A69A;
}

.hero-container{
    width: 100%;
    display: flex;
    position: relative;
}

.hero-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid blue;
}

.bg-shape{
    width: 25%;
    height: 500px;
    position: absolute;
    border-top-left-radius: 60%;
    background-color: #CBFFD0;
    z-index: 1;
    right: 0;
    top: 5%;
    border: 1px solid blue;
}

.hero-img{
    width: 100%;
    position: relative;
    z-index: 20;
}

.hero-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    padding-top: 20px;
    margin-left: 30px;
    border: 1px solid blue;
}

.text h2{
    font-size: 56px;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 10px;
}

.text p{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
}

.download-links{
    width: 70%;
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.download-box{
    background-color: #000;
    border: 1px solid #A6A6A6;
    display: flex;
    align-items: center;
    padding:8px;
    color: #fff;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.fa-apple{
    font-size: 38px;
}

.apple-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.apple-txt p, .play-txt p{
    font-size: 8px;
    font-weight: 550;
}
.apple-txt>h4, .play-txt>h4{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}

.play-txt p{
    text-transform: uppercase;
}

.play-icon{
    width: 24px;
}

.features{
    width: 100%;
    height: 120vh;
    background-position: top;
    color: #000;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 1px solid blue;
}

.feat-bg-shape{
    width: 25%;
    height: 400px;
    position: absolute;
    border-bottom-right-radius: 60%;
    background-color: #26A69A;
    top: 0;
    left: 0;
}

.feat-img{
    width: 350px;
    position: absolute;
    left: 0%;
    top: 7%;
}

.features-box{
    width: 40%;
    display: flex;
    position: absolute;
    right: 20%;
    flex-direction: column;
}

.features-box h2{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.feat-grid{
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 50px;
}

.fa-scroll,
.fa-chart-simple,
.fa-bell,
.fa-lightbulb{
    font-size: 36px;
    margin-bottom: 10px;
}

.fa-chart-simple, .fa-bell{
    color: #26A69A;
}

.fa-scroll, .fa-lightbulb{
    color: #CBFFD0;
}

.feat-item{
    border-radius: 10px;
    padding: 15px;
}

.feat-item h5{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.5;
}

.feat-item p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 1.5;
}

.feat2, .feat3{
    background-color: #CBFFD0;
}

.feat1, .feat4{
    background-color: #26A69A;
}

.how-it-works{
    width: 100%;
    background-image: url('./assets/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    background-position: top;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 -8px 12px  rgb(0, 0, 0, 0.25) inset,
    0 8px 12px  rgb(0, 0, 0, 0.25) inset;
}

.how-it-works h2{
    font-size: 32px;
    font-weight: 600;
    margin-block: 50px 30px;
    text-transform: capitalize;
}

.steps{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.steps-12{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.steps-34{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step1, .step2, .step3, .step4{
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    font-weight: 500;
    font-size: 18px;
}

.step1, .step2{
    background-color: #CBFFD0;
}

.step3, .step4{
    background-color: #26A69A;
}

.how-img{
     width: 500px;
    position: absolute;
    left: 37%;
    z-index: 5;
    bottom: -50%;
}

.how-bg-shape1{
     width: 25%;
    height: 300px;
    position: absolute;
    border-top-left-radius: 60%;
    background-color: #CBFFD0;
    left: 20%;
    bottom: 0;
}

.how-bg-shape2{
     width: 20%;
    height: 300px;
    position: absolute;
    border-top-right-radius: 60%;
    background-color: #CBFFD0;
    right: 25%;
    bottom: 0;
}

.testimo{
    width: 100%;
    height: 120vh;
    color: #000;
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

.tes-bg1{
    width: 25%;
    height: 350px;
    position: absolute;
    border-bottom-right-radius: 60%;
    background-color: #26A69A;
    top: 0;
    left: 0;
}

.tes-bg2{
    width: 25%;
    height: 350px;
    position: absolute;
    border-top-left-radius: 60%;
    background-color: #26A69A;
    bottom: 0;
    right: 0;
}

.tes-content{
    width: 80%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 100px;
    margin-top: 50px;
}

.tes-content h2{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}

.tes-container{
    width: 100%;
    margin-inline: auto;
    display: grid;
    height: 270px;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    position: relative;
}



.tes-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
}

.tes-T{
    background-color: #CBFFD0;
}

.tes-J{
    background-color: #26A69A;
    position: relative;
    z-index: 5;


}

.fa-circle-user{
    font-size: 44px;
}

.rating{
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-star{
    font-size: 16px;
}

.tes-box p{
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
}

.tes-box h6{
    font-weight: 600;
    font-size: 16px;
}

.faq{
    width: 100%;
    background-image: url('./assets/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    background-position: top;
    color: #000;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0 -8px 12px  rgb(0, 0, 0, 0.25) inset,
    0 8px 12px  rgb(0, 0, 0, 0.25) inset;
}

.faq-bg-shape{
    width: 25%;
    height: 400px;
    position: absolute;
    border-bottom-right-radius: 60%;
    background-color: #CBFFD0;
    top: 0;
    left: 0;
}

.faq-container{
    width: 35%;
    position: absolute;
    right: 25%;
}

.faq-container h2{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

.qs{
    width: 100%;
    background-color: #26A69A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.qs-content{
    width: 100;
    background-color: #CBFFD0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

footer{
    background-color: #26A69A;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-block: 30px 50px;
}

.footer-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trackwise-img{
    width: 120px;
}

.footer-img p{
    font-size: 20px;
    font-weight: 400;
}

.trackwise{
    text-transform: uppercase;
    font-weight: 600;
}

footer>h4{
    font-weight: 600;
    font-size: 20px;
}

.social-links{
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-download{
    width: 25%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-block: 5px;
}

.fa-square-x-twitter,
.fa-square-instagram,
.fa-square-facebook{
    color: #000;
    font-size: 36px;
}

.support{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.fa-phone{
    font-size: 20px;
}

.support h4{
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
}

.policies{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.policies a{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
